<div class="loader-bg">
  <div class="loader">
    <img src="assets/load.gif" width="15" height="15">
    <p>Now Loading...</p>
  </div>
</div>

  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>

<div class="top-container">
  <div class="title">
    <span>早稲田大学Street Corner Symphony</span><br>
    <span class="band-name">Tasky5</span><br>
    ×<br>
    <span>京都大学CrazyClef</span><br>
    <span class="band-name">Evans' blue</span> <br><br>
    Graduation Concert
    <div class="each-link">
      <%= link_to('/west') do%>
        <div class="detail-link west">
          関西公演 大阪 ＠梅田TRAD <br><span class="presents">Evans' blue presents</span><br>
          <span>"Before we say Goodbye,"</span>
        </div>
      <% end %>
      <%= link_to('/east') do%>
        <div class="detail-link east">
          関東公演 東京 ＠大塚Deepa <br><span class="presents">Tasky5 presents</span><br>
          <span>"Paint Red till all is Blue"</span>
        </div>
      <% end %>
    </div>
    <p></p>
  </div>
</div>
