// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div{
  overflow: auto;
}
input{
  -webkit-appearance:none;
}
.loader-bg{
  display: none;
  position: fixed;
  width:100%;
  height:100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
}
.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}
.top-container{
  padding: 0;
  margin: 0;
  .title{
    padding:130px 0;
    font-size: 32px;
    text-align: center;
    font-family: 'Baskerville','Mincho';
    background-color: #101021;
    color: #fff;
    background-image: url('top-back.png');
    background-size: cover;
    background-repeat: no-repeat;
    @media(max-width: 500px){
      background-image: url('smart-back-top.png');
    }
    .band-name{
      font-size: 56px;
    }
    span{
      font-size: 16px;
    }
    p{
      font-weight: lighter;
    }

    .detail-link{
      display: block;
      font-size: 16px;
      width:44%;
      color: white;
      background-color: #333;
      padding:24px 16px;
      margin: 24px 3%;
      float: left;
      border-bottom: 5px #191919 solid;
      font-family: 'Baskerville','Mincho';
      text-align: left;
      span{
        font-size: 28px;
      }
      .presents{
        font-size: 12px;
      }
      @media(max-width: 800px){
        width:94%;
      }
      &:hover{
        background-color: transparent;
        border-color: transparent;
        -webkit-transition: all 400ms ease;
           -moz-transition: all 400ms ease;
            -ms-transition: all 400ms ease;
             -o-transition: all 400ms ease;
                transition: all 400ms ease;
      }
      &:active{
        -webkit-transform: translateY(4px);
           -moz-transform: translateY(4px);
            -ms-transform: translateY(4px);
             -o-transform: translateY(4px);
                transform: translateY(4px);
        border:none;
      }
    }
    .each-link{
      margin-top: 40px;
      padding: 32px 0;
      text-align: center;
      margin:auto;
      overflow: auto;
      width:800px;
      @media(max-width: 800px){
        width:100%;
      }
    }
    .west{
      background-color: #2d2f73;
    }
    .east{
      background-color: #411;
    }
  }
}
.detail-inner{
  width:100%;
  color: #fff;
  font-family: 'Baskerville','Mincho';
  .east-inner{
    padding:16px;
    background-image: url('east');
    background-size: cover;
    background-repeat: no-repeat;
    @media(max-width: 500px){
      background-image: url('east-smart');
    }
    .reserve-btn{
      background-color: #9191ff;
    }
  }
  .west-inner{
    padding:16px;
    background-image: url('west');
    background-size: cover;
   background-repeat: no-repeat;
    @media(max-width: 500px){
      background-image: url('west-smart');
    }
    .reserve-btn{
      background-color: #ff9090;
    }
  }
  .detail-contents{
    width:850px;
    margin:auto;
    overflow: auto;
    @media(max-width: 850px){
      width:100%;
    }

  }
  .detail-description{
      padding:16px;
      font-size: 13px;
      border: dotted 1px #aaa;
      margin-top: 16px;
       span{
        font-size: 20px;
      }
    }
  .detail-title{
    padding: 100px 8px;
    text-align: center;
    font-size: 24px;
    .detail-present{
      font-size: 14px;
    }
    .koen{
      font-size: 14px;
    }
    .title-main{
      font-size: 36px;
    }
    .live-date{
      display: block;
      padding-top: 30px;
      font-size: 28px;
    }
  }

  .band-detail{
    width:50%;
    padding: 16px;
    overflow: auto;
    float: left;
    .band-name{
      padding: 16px 0;
      display: block;
      font-size: 32px;
    }
    .band-description{
      font-size: 13px;

    }
    img{
      width:100%;
      margin: 8px 0;
    }
    @media(max-width: 500px){
      width:100%
    }
  }
  .reserve-btn{
    padding:16px;
    color: fff;
    width: 100%;
    text-align: center;
    border-bottom:4px solid #333;
    border-radius: 5px;
    @media(max-width: 500px){
      width:100%
    }
  }
}
.form-inner{
  color: #fff;
  width:100%;
  .form{
    width:800px;
    padding:80px 16px;
    margin:auto;
    @media(max-width: 800px){
      width:100%;
    }
    .link{
      padding:16px;
      background-color: salmon;
      margin:32px 0;
    }
    .errors{
      color: #fff;
      padding: 16px;
      font-size: 13px;
      background-color:#f55;
    }

  }
  .east-form{
    background-image: url('east.png');
    @media(max-width: 600px){
      background-image: url('east-smart.png');
    }
  }
  .west-form{
    background-image: url('west-smart.png');
    @media(max-width: 600px){

    }
  }
  .title{
    font-size: 28px;
  }
  .description{
    border:dotted 1px #aaa;
    padding:16px;
    font-size: 13px;
  }
  .content{
    font-size: 13px;
    padding: 4px 16px;
    border-bottom: dotted 1px #aaa;
    margin-top: 16px;
  }
  input, select, textarea{
    width: 100%;
    padding:12px;
    margin-top: 4px;
    border: 1px solid #aaa;
    font-size: 16px;
  }
  textarea{
    height:200px
  }
  select{
    height:40px;
  }
  .submit{
    background-color: salmon;
    height:50px;
    margin-top: 16px;
  }
  .caution{
    font-size: 13px;
    padding: 16px;
    border:dotted 1px #aaa;
    background-color: rgba(255,255,255,0.6);
    color: #900;
    margin-top: 16px;
  }
}
